:root {
    --color-table-background-male: #557fff2f;
    --color-table-background-female: #ff7d8333;
}

section {
    width: 100vw;
    padding-top: 3rem;
    padding-bottom: 2rem;
}

section .positions__container {
    padding-top: 5rem;
}

/* ===== POSITIONS SECTION ===== */
.positions {
    max-width: 50rem;
    margin: 0 auto;
    background-color: white;
}

.positions .male {
    background-color: #557FFF;
}

.positions .female {
    background-color: #FF7D84;
}

.positions__title {
    background-color: black;
    padding: 2rem 3rem;
    text-align: center;
}

.positions__table {
    padding: 1rem;
}

/* ==== TABLA ==== */
.table {
    margin: 0 auto;
    border-collapse: collapse;
    /* background-color: var(--color-table-background); */
}

.table_male {
    background-color: var(--color-table-background-male);
}

.table_female {
    background-color: var(--color-table-background-female);
}

.table th {
    padding: 0.5rem 0.5rem;
    color: rgba(0, 0, 0, 0.6);
}

.table td {
    padding: 0.5rem 0.5rem;
}

.table td:nth-child(2) {
    min-width: 12rem;
}

.table td:not(:nth-child(2)) {
    text-align: center;
}

.table th,
td {
    border-bottom: 0.2rem solid rgba(0, 0, 0, 0.3);
}

.team-cell {
    position: relative;
    line-height: 1.5;
}

.team-cell span {
    padding-left: 1.8rem;
}

.team-logo {
    max-width: 22px;
    position: absolute;
}

table tr td:nth-child(3) {
    font-weight: bold;
}

@media screen and (max-width: 1024px) {
    .positions__table {
        overflow-x: auto;
        padding: 0;
        padding-bottom: 1rem;
        margin: 0.5rem;
    }

    .table th:nth-child(1),
    .table td:nth-child(1) {
        position: sticky;
        left: 0;
        background-color: white;
        z-index: 2;
    }

    .table th:nth-child(2),
    .table td:nth-child(2) {
        position: sticky;
        left: 2rem;
        background-color: white;
        z-index: 2;
    }

    .table th:nth-child(n+3),
    .table td:nth-child(n+3) {
        z-index: 1;
    }

}